<footer class="bg-black text-white" *transloco="let t; prefix: 'footer'">
  <section class="grid grid-flow-row lg:grid-flow-col w-screen p-5">
    <div class="p-5 mx-4">
      <h1 class="text-5xl pb-3">{{ t("work") | transloco }}</h1>
      <h2 class="text-xl">
        {{ t("based") | transloco }} |
        <a href="https://github.com/AngelPereiraR" class="mx-4">
          <i
            class="fa-brands fa-github fa-lg transition-all duration-500 hover:scale-110"
          ></i>
        </a>
        <a
          href="https://www.linkedin.com/in/%C3%A1ngel-manuel-pereira-rodr%C3%ADguez-009730253/"
          class="mx-4"
        >
          <i
            class="fa-brands fa-linkedin fa-lg transition-all duration-500 hover:scale-110"
          ></i>
        </a>
      </h2>
    </div>
    <div
      class="p-5 m-4 border border-white rounded transition-all duration-500 hover:scale-105"
    >
      <h2 class="text-3xl pb-3">{{ t("developer") | transloco }}</h2>
      <div class="flex justify-between">
        <h2 class="text-xl text-green-400">ampr2003&#64;gmail.com</h2>
        <a
          class="text-xl hover:text-green-400 transition-all"
          href="mailto:ampr2003@gmail.com"
          ><i class="fa-solid fa-arrow-up rotate-45"></i
        ></a>
      </div>
    </div>
    <div
      class="p-5 m-4 border border-white rounded transition-all duration-500 hover:scale-105"
    >
      <h2 class="text-3xl pb-3">{{ t("in-depth") | transloco }}</h2>
      <div class="flex justify-between">
        <h2 class="text-xl text-green-400">+34 636 16 08 17</h2>
        <a
          class="text-xl hover:text-green-400 transition-all"
          href="tel:+34636160817"
          ><i class="fa-solid fa-arrow-up rotate-45"></i
        ></a>
      </div>
    </div>
  </section>
  <section class="flex justify-center p-5">
    <h1 class="uppercase text-6xl md:text-8xl text-center text-green-200">
      Ángel Pereira
    </h1>
  </section>
  <section class="p-5 px-8">
    <hr class="text-gray-600 pb-3" />
    <h1 class="text-xl">&copy;2024 Ángel Pereira</h1>
  </section>
</footer>
