<header *transloco="let t; prefix: 'navbar'">
  <nav
    class="fixed z-50 top-0 p-3 flex flex-row w-full items-center text-center bg-blue-800 text-white"
  >
    <ul class="flex flex-row w-1/6 items-center">
      <li class="px-2 lg:hidden">
        <button (click)="drawer.toggleDrawer()">
          <i
            class="fa-solid fa-bars fa-lg fa-lg transition-all duration-500 hover:scale-110"
          ></i>
        </button>
      </li>
      <li class="px-2 hidden 500px:block">
        <a href="#home"
          ><img
            class="h-6 sm:h-12 transition-all duration-500 hover:scale-110"
            src="assets/logo.webp"
            alt="Logo"
        /></a>
      </li>
    </ul>
    <ul class="hidden lg:flex flex-row w-4/6 justify-center items-center">
      <li
        class="px-3 text-sm md:text-base xl:text-lg font-bold hover:text-green-200 transition-all"
      >
        <a href="#home">{{ t("home") | transloco }}</a>
      </li>
      <li
        class="px-3 text-sm md:text-base xl:text-lg font-bold hover:text-green-200 transition-all"
      >
        <a href="#services">{{ t("services") | transloco }}</a>
      </li>
      <li
        class="px-3 text-sm md:text-base xl:text-lg font-bold hover:text-green-200 transition-all"
      >
        <a href="#about">{{ t("about") | transloco }}</a>
      </li>
      <li
        class="px-3 text-sm md:text-base xl:text-lg font-bold hover:text-green-200 transition-all"
      >
        <a href="#resume">{{ t("resume") | transloco }}</a>
      </li>
      <li
        class="px-3 text-sm md:text-base xl:text-lg font-bold hover:text-green-200 transition-all"
      >
        <a href="#projects">{{ t("projects") | transloco }}</a>
      </li>
    </ul>
    <ul class="flex flex-row ml-auto items-center">
      <change-language></change-language>
    </ul>
  </nav>
</header>

<app-drawer #drawer></app-drawer>
