<header>
  <nav
    class="fixed z-50 top-0 p-3 flex flex-row w-full items-center text-center bg-blue-600 text-white"
  >
    <ul class="flex flex-row w-1/6 items-center">
      <li class="px-2 lg:hidden">
        <button (click)="drawer.toggleDrawer()">
          <i class="fa-solid fa-bars fa-lg fa-lg"></i>
        </button>
      </li>
      <li class="px-2 hidden 500px:block">
        <a href="#home"
          ><img class="h-6 sm:h-12" src="assets/logo.webp" alt="Logo"
        /></a>
      </li>
    </ul>
    <ul class="hidden lg:flex flex-row w-4/6 justify-center items-center">
      <li
        class="px-3 text-sm md:text-base xl:text-lg font-bold hover:text-green-200 transition-all"
      >
        <a href="#home">Home</a>
      </li>
      <li
        class="px-3 text-sm md:text-base xl:text-lg font-bold hover:text-green-200 transition-all"
      >
        <a href="#services">Servicios</a>
      </li>
      <li
        class="px-3 text-sm md:text-base xl:text-lg font-bold hover:text-green-200 transition-all"
      >
        <a href="#about">Sobre mí</a>
      </li>
      <li
        class="px-3 text-sm md:text-base xl:text-lg font-bold hover:text-green-200 transition-all"
      >
        <a href="#resume">Resumen</a>
      </li>
      <li
        class="px-3 text-sm md:text-base xl:text-lg font-bold hover:text-green-200 transition-all"
      >
        <a href="#projects">Proyectos</a>
      </li>
    </ul>
    <ul class="flex flex-row ml-auto items-center">
      <li class="px-3">
        <button>
          <img
            class="h-6 sm:h-12"
            src="assets/Spanish.svg"
            alt="Cambiar idioma a español"
            title="Cambiar idioma a español"
          />
        </button>
      </li>
      <li class="px-3">
        <button>
          <img
            class="h-6 sm:h-12"
            src="assets/English.svg"
            alt="Change language to English"
            title="Change language to English"
          />
        </button>
      </li>
    </ul>
  </nav>
</header>

<app-drawer #drawer></app-drawer>
