<section
  class="p-10 xl:py-20 xl:px-80 bg-green-200 flex flex-col lg:flex-row justify-between"
>
  <div>
    <h1 class="text-8xl py-5 font-bold">
      <span class="text-2xl">Hola, Soy</span><br />Ángel Pereira
    </h1>
    <h2 class="text-2xl py-5 font-semibold">
      Desarrollador Fullstack y de Qlik | Desde España
    </h2>
    <div class="py-5 flex flex-col lg:flex-row justify-center items-center">
      <a
        class="p-5 my-3 lg:mr-3 font-bold bg-black text-white hover:bg-white hover:text-black transition-all duration-500 border-2 border-black rounded-lg"
        href="#contact"
        >Hablemos <i class="fa-solid fa-arrow-up rotate-45 px-2"></i
      ></a>
      <a
        class="p-5 my-3 lg:mx-3 font-bold bg-white text-black hover:bg-black hover:text-white transition-all duration-500 border-2 border-black rounded-lg"
        href="#projects"
        >Mis proyectos <i class="fa-solid fa-arrow-up rotate-45 px-2"></i
      ></a>
      <a
        class="p-5 my-3 lg:mx-3 bg-blue-600 hover:bg-black transition-all duration-500 border-2 border-black rounded-lg"
        href="mailto:ampr2003@gmail.com"
        ><img
          class="h-6"
          src="assets/Email.svg"
          alt="Email a ampr2003@gmail.com"
      /></a>
      <a
        class="p-5 my-3 lg:mx-3 font-bold bg-blue-600 text-white hover:bg-black transition-all duration-500 border-2 border-black rounded-lg"
        href="assets/CV-ampr.pdf"
        target="_blank"
        >Descargar mi CV <i class="fa-solid fa-arrow-up rotate-45 px-2"></i
          ></a
      >
    </div>
    <div class="text-xl pt-10">
      <h3 class="font-medium pb-6">Mis redes</h3>
      <a href="https://github.com/AngelPereiraR" class="pr-4">
        <i class="fa-brands fa-github fa-2xl"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/%C3%A1ngel-manuel-pereira-rodr%C3%ADguez-009730253/"
        class="pl-4"
      >
        <i class="fa-brands fa-linkedin fa-2xl"></i>
      </a>
    </div>
  </div>
  <div class="py-20 flex flex-col justify-center items-center">
    <img
      class="h-96 lg:h-[500px] rounded-3xl"
      src="assets/Imagen-personal.webp"
      alt="Imagen de Ángel Pereira"
    />
  </div>
</section>
