<section class="p-10 xl:py-20 xl:px-20 2xl:px-52">
  <header class="grid grid-flow-row lg:grid-flow-col">
    <div class="grid grid-flow-row mr-20">
      <h1
        class="text-lg font-bold text-green-600 pb-3 lg:pb-0 tracking-wide leading-6"
      >
        Servicios
      </h1>
      <h2 class="text-5xl 2xl:text-7xl font-bold pb-3 lg:pb-0 tracking-wide">
        Mis especialidades
      </h2>
    </div>
  </header>
  <div class="grid grid-flow-row lg:grid-flow-col my-10">
    <div
      class="grid-cols-1 mx-5 my-3 lg:my-0 lg:mx-2 p-10 font-medium text-black hover:text-green-600 bg-gray-300 hover:bg-white rounded-xl hover:shadow-2xl shadow-gray-700 hover:scale-110 transition-all duration-500"
    >
      <img
        class="h-12 p-2 mb-5 bg-green-400 rounded-xl"
        src="assets/icons8-backend-100.webp"
        alt="Backend"
      />
      <h3>Backend</h3>
    </div>
    <div
      class="grid-cols-1 mx-5 my-3 lg:my-0 lg:mx-2 p-10 font-medium text-black hover:text-green-600 bg-gray-300 hover:bg-white rounded-xl hover:shadow-2xl shadow-gray-700 hover:scale-110 transition-all duration-500"
    >
      <img
        class="h-12 p-2 mb-5 bg-green-400 rounded-xl"
        src="assets/icons8-frontend-90.webp"
        alt="Frontend"
      />
      <div>Frontend</div>
    </div>
    <div
      class="grid-cols-1 mx-5 my-3 lg:my-0 lg:mx-2 p-10 font-medium text-black hover:text-green-600 bg-gray-300 hover:bg-white rounded-xl hover:shadow-2xl shadow-gray-700 hover:scale-110 transition-all duration-500"
    >
      <img
        class="h-12 p-2 mb-5 bg-green-400 rounded-xl"
        src="assets/icons8-smartphone-100.webp"
        alt="Aplicaciones móviles"
      />
      <div>Aplicaciones móviles</div>
    </div>
    <div
      class="grid-cols-1 mx-5 my-3 lg:my-0 lg:mx-2 p-10 font-medium text-black hover:text-green-600 bg-gray-300 hover:bg-white rounded-xl hover:shadow-2xl shadow-gray-700 hover:scale-110 transition-all duration-500"
    >
      <img
        class="h-12 p-2 mb-5 bg-green-400 rounded-xl"
        src="assets/icons8-database-100.webp"
        alt="Bases de datos"
      />
      <div>Bases de datos</div>
    </div>
    <div
      class="grid-cols-2 mx-5 my-3 lg:my-0 lg:mx-2 p-10 font-medium text-white hover:text-green-600 bg-black rounded-xl hover:shadow-lg shadow-gray-700 hover:scale-110 transition-all duration-500"
    >
      <h3 class="text-green-600">Saluda</h3>
      <a href="mailto:ampr2003@gmail.com">
        ampr2003&#64;gmail.com
        <i class="fa-solid fa-arrow-up rotate-45 px-2 text-green-600"></i>
      </a>
    </div>
  </div>
</section>
