<app-navbar-general></app-navbar-general>

<main *transloco="let t; prefix: 'projects'">
  <section class="p-10 py-32 xl:px-20 2xl:px-52 bg-green-200">
    <div>
      <header class="flex flex-col justify-between items-center">
        <h1 class="text-lg font-bold text-green-600 pb-3 lg:pb-0">Portfolio</h1>
        <h2 class="text-5xl 2xl:text-7xl font-bold pb-3 lg:pb-0">
          {{ t("projects-title") | transloco }}
        </h2>
      </header>
      <div class="mt-10 grid grid-flow-row grid-cols-1 xl:grid-cols-2">
        <article class="m-5 flex flex-col justify-center items-center">
          <img
            class="h-60 xl:h-96 rounded-xl hover:scale-105 transition-all duration-500"
            src="assets/frutyfest.webp"
            alt="FrutyFest"
          />
          <div class="flex flex-row my-3">
            <p
              class="rounded-2xl mx-2 p-2 border-2 border-black font-medium hover:scale-110 hover:text-white hover:bg-black transition-all duration-500"
            >
              Angular
            </p>
            <p
              class="rounded-2xl mx-2 p-2 border-2 border-black font-medium hover:scale-110 hover:text-white hover:bg-black transition-all duration-500"
            >
              NestJS
            </p>
          </div>
          <h3 class="text-3xl font-bold">
            <a
              href="projects/1"
              class="hover:text-green-600 transition-all duration-500"
            >
              FrutyFest <i class="fa-solid fa-arrow-up rotate-45 px-2"></i>
            </a>
          </h3>
        </article>
        <article class="m-5 flex flex-col justify-center items-center">
          <img
            class="h-60 xl:h-96 rounded-xl hover:scale-105 transition-all duration-500"
            src="assets/dulceblog.webp"
            alt="Dulce Blog"
          />
          <div class="flex flex-row my-3">
            <p
              class="rounded-2xl mx-2 p-2 border-2 border-black font-medium hover:scale-110 hover:text-white hover:bg-black transition-all duration-500"
            >
              Angular
            </p>
            <p
              class="rounded-2xl mx-2 p-2 border-2 border-black font-medium hover:scale-110 hover:text-white hover:bg-black transition-all duration-500"
            >
              ExpressJS
            </p>
          </div>
          <h3 class="text-3xl font-bold">
            <a
              href="projects/2"
              class="hover:text-green-600 transition-all duration-500"
            >
              Dulce Blog
              <i class="fa-solid fa-arrow-up rotate-45 px-2"></i>
            </a>
          </h3>
        </article>
        <article class="m-5 flex flex-col justify-center items-center">
          <img
            class="h-60 xl:h-96 rounded-xl hover:scale-105 transition-all duration-500"
            src="assets/projects/gestion-empresas/03-buy.webp"
            alt="Gestión Empresas"
          />
          <div class="flex flex-row my-3">
            <p
              class="rounded-2xl mx-2 p-2 border-2 border-black font-medium hover:scale-110 hover:text-white hover:bg-black transition-all duration-500"
            >
              Flutter
            </p>
            <p
              class="rounded-2xl mx-2 p-2 border-2 border-black font-medium hover:scale-110 hover:text-white hover:bg-black transition-all duration-500"
            >
              Java (Spring)
            </p>
          </div>
          <h3 class="text-3xl font-bold">
            <a
              href="projects/3"
              class="hover:text-green-600 transition-all duration-500"
            >
              Gestión Empresas
              <i class="fa-solid fa-arrow-up rotate-45 px-2"></i>
            </a>
          </h3>
        </article>
        <article class="m-5 flex flex-col justify-center items-center">
          <img
            class="h-60 xl:h-96 rounded-xl hover:scale-105 transition-all duration-500"
            src="assets/salesin.webp"
            alt="SalesIn"
          />
          <div class="flex flex-row my-3">
            <p
              class="rounded-2xl mx-2 p-2 border-2 border-black font-medium hover:scale-110 hover:text-white hover:bg-black transition-all duration-500"
            >
              Laravel
            </p>
          </div>
          <h3 class="text-3xl font-bold">
            <a
              href="projects/4"
              class="hover:text-green-600 transition-all duration-500"
            >
              SalesIn <i class="fa-solid fa-arrow-up rotate-45 px-2"></i>
            </a>
          </h3>
        </article>
        <article class="m-5 flex flex-col justify-center items-center">
          <img
            class="h-60 xl:h-96 rounded-xl hover:scale-105 transition-all duration-500"
            src="assets/gestioncursos.webp"
            alt="GestionCursos"
          />
          <div class="flex flex-row my-3">
            <p
              class="rounded-2xl mx-2 p-2 border-2 border-black font-medium hover:scale-110 hover:text-white hover:bg-black transition-all duration-500"
            >
              Java (Spring)
            </p>
          </div>
          <h3 class="text-3xl font-bold">
            <a
              href="projects/5"
              class="hover:text-green-600 transition-all duration-500"
            >
              GestionCursos <i class="fa-solid fa-arrow-up rotate-45 px-2"></i>
            </a>
          </h3>
        </article>
        <article class="m-5 flex flex-col justify-center items-center">
          <img
            class="h-60 xl:h-96 rounded-xl hover:scale-105 transition-all duration-500"
            src="assets/almagest.webp"
            alt="Almagest"
          />
          <div class="flex flex-row my-3">
            <p
              class="rounded-2xl mx-2 p-2 border-2 border-black font-medium hover:scale-110 hover:text-white hover:bg-black transition-all duration-500"
            >
              Flutter
            </p>
            <p
              class="rounded-2xl mx-2 p-2 border-2 border-black font-medium hover:scale-110 hover:text-white hover:bg-black transition-all duration-500"
            >
              Laravel
            </p>
          </div>
          <h3 class="text-3xl font-bold">
            <a
              href="projects/6"
              class="hover:text-green-600 transition-all duration-500"
            >
              Almagest <i class="fa-solid fa-arrow-up rotate-45 px-2"></i>
            </a>
          </h3>
        </article>
      </div>
    </div>
  </section>
</main>

<a
  href="#home"
  class="fixed bottom-16 right-4 lg:right-10 bg-blue-600 text-white py-4 px-5 rounded-lg z-50"
  title="Ir hacia arriba"
>
  <i class="fa-solid fa-arrow-up"></i>
</a>
