<div class="flex flex-row">
  <li class="px-3">
    <button (click)="changeLanguage('es')">
      <img
        class="h-6 sm:h-12 transition-all duration-500 hover:scale-110"
        src="assets/Spanish.svg"
        alt="Cambiar idioma a español"
        title="Cambiar idioma a español"
      />
    </button>
  </li>
  <li class="px-3">
    <button (click)="changeLanguage('en')">
      <img
        class="h-6 sm:h-12 transition-all duration-500 hover:scale-110"
        src="assets/English.svg"
        alt="Change language to English"
        title="Change language to English"
      />
    </button>
  </li>
</div>
