<section class="p-10 xl:py-20 xl:px-80">
  <div>
    <header>
      <span class="text-xl font-bold text-green-600 pb-3 lg:pb-0"
        >Hola, soy</span
      >
      <h1 class="text-5xl 2xl:text-7xl font-bold capitalize pb-3 lg:pb-5">
        Ángel Pereira, desarrollador fullstack y Qlik
      </h1>
      <h2 class="text-2xl pb-3 lg:pb-5 font-semibold">Desde España</h2>
      <h2 class="text-4xl pb-3 lg:pb-5 font-semibold text-green-600">
        2 años realizando proyectos
      </h2>
    </header>
    <div class="my-7">
      <p class="text-lg">
        Soy un desarrollador español que crea aplicaciones que resuelven
        necesidades de clientes. También tengo experiencia dentro del mundo de
        la Inteligencia de Negocio.
      </p>
    </div>
    <div class="flex">
      <a
        class="p-5 bg-black text-white hover:bg-white hover:text-black border-2 border-black font-bold transition-all duration-500"
        href="assets/CV-ampr.pdf"
        target="_blank"
        >Descarga mi CV aquí
        <i class="fa-solid fa-arrow-up rotate-45 px-2 text-green-600"></i
      ></a>
    </div>
  </div>
</section>
